{% extends 'main.html' %}

{% block title %}Booking{% endblock %}

{% block content %}

<div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img src="{{ service.image.url }}" alt="{{ service.title }}" class="card-img-top rounded-right">
          <h2 class="mt-3" style="font-weight: bold;">{{ service.name }}</h2>
          <h6 style="color: gray;">By {{ service.created_by.username }}</h6>
          <h4 class="my-4">Php {{ service.price|floatformat:2 }}</h4>
          <p>{{ service.description }}</p>
        </div>
      </div>
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-body">

            <h2 class="mb-4">Checkout</h2>
            <form>
                <div class="form-group">
                    <label for="fullName">Full Name</label>
                    <input type="text" class="form-control" id="fullName" placeholder="Enter your full name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea class="form-control" id="address" placeholder="Enter your address"></textarea>
                </div>
                <div class="form-group">
                    <label for="creditCard">Credit Card Number</label>
                    <input type="text" class="form-control" id="creditCard" placeholder="Enter your credit card number">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="expiryDate">Expiry Date</label>
                        <input type="text" class="form-control" id="expiryDate" placeholder="MM/YY">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cvv">CVV</label>
                        <input type="text" class="form-control" id="cvv" placeholder="Enter CVV">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Book Now!</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>



</div>

{% endblock %}